@page "/"

<Row Margin="Margin.Is1">
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>abc</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>a nice txt...</CardText>
            </CardBody>
            <CardBody>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.Is2">Input file</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.Is4">
                        <FileEdit Changed="@InputFileChanged" Multiple="false" />
                    </FieldBody>
                </Field>

                <CheckField Value="@Settings.SingleFile" For="@(() => Settings.SingleFile)"></CheckField>
                <SelectField Value="@Settings.ArrayType" For="@(() => Settings.ArrayType)"></SelectField>
                <TextEditField Value="@Settings.Namespace" For="@(() => Settings.Namespace)"></TextEditField>

                <Field Horizontal="true">
                    <FieldBody ColumnSize="ColumnSize.Is10">
                        <Button Color="Color.Primary" Disabled="@(!_uploadComplete)" Clicked=@GenerateAndDownloadFile>Generate and Download</Button>
                    </FieldBody>
                </Field>
            </CardBody>
        </Card>
    </Column>
</Row>