@page "/"

<Card>
    <CardHeader>
        <CardTitle>Settings</CardTitle>
    </CardHeader>
    <CardBody>
        <b>General</b>
        <Divider />
        <RadioGroupEnumField @bind-Value="@settings.Source" For="@(() => settings.Source)"></RadioGroupEnumField>

        @if (settings.Source == SourceType.File)
        {
            <Field Horizontal="true" >
                <FieldLabel ColumnSize="ColumnSize.Is3">Input file</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <FileEdit Size="Size.Small" Changed="@InputFileChanged" Multiple="true" Filter=".json, .yml, .yaml" />
                    <FieldHelp>Select the Swagger / OpenApi specification input file.</FieldHelp>
                </FieldBody>
            </Field>
        }
        else if (settings.Source == SourceType.Url)
        {
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is3">Url</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <TextEdit Size="Size.Small" @bind-Text="@settings.SourceUrl" />
                    <FieldHelp>The OpenAPI Specification Url</FieldHelp>
                </FieldBody>
                <FieldBody>
                    <Tooltip Text="Download OpenAPI Specification from the Url.">
                        <Button Size="Size.Small" Color="Color.Primary" Disabled="@(!downloadFromUrlButtonEnabled)" Clicked="@DownloadFromUrl">Download</Button>
                    </Tooltip>
                </FieldBody>
            </Field>
        }
		else
		{
            <Field Horizontal="true">
                <FieldLabel ColumnSize="ColumnSize.Is3">Example</FieldLabel>
                <FieldBody ColumnSize="ColumnSize.Is4">
                    <TextEdit Size="Size.Small" @bind-Text="@settings.SourceUrl" />
                    <FieldHelp>The OpenAPI Specification Url</FieldHelp>
                </FieldBody>
                <FieldBody>
                    <Tooltip Text="Download OpenAPI Specification from the Url.">
                        <Button Size="Size.Small" Color="Color.Primary" Disabled="@(!downloadFromUrlButtonEnabled)" Clicked="@DownloadFromUrl">Download</Button>
                    </Tooltip>
                </FieldBody>
            </Field>
		}
        <CheckField @bind-Value="@settings.SingleFile" For="@(() => settings.SingleFile)"></CheckField>
        <TextEditField @bind-Value="@settings.ApiName" For="@(() => settings.ApiName)"></TextEditField>
        <TextEditField @bind-Value="@settings.Namespace" For="@(() => settings.Namespace)"></TextEditField>
        <TextEditField @bind-Value="@settings.ApiNamespace" For="@(() => settings.ApiNamespace)"></TextEditField>
        <TextEditField @bind-Value="@settings.ModelsNamespace" For="@(() => settings.ModelsNamespace)"></TextEditField>
        <SelectEnumField @bind-Value="@settings.ArrayType" For="@(() => settings.ArrayType)"></SelectEnumField>
        <SelectEnumField @bind-Value="@settings.GenerationType" For="@(() => settings.GenerationType)"></SelectEnumField>
        <SelectEnumField @bind-Value="@settings.PreferredEnumType" For="@(() => settings.PreferredEnumType)"></SelectEnumField>
        <CheckField @bind-Value="@settings.UseDateTimeOffset" For="@(() => settings.UseDateTimeOffset)"></CheckField>
    </CardBody>
    <CardBody>
        <b>Models</b>
        <Divider />
        <CheckField @bind-Value="@settings.SupportExtensionXNullable" For="@(() => settings.SupportExtensionXNullable)"></CheckField>
        <CheckField @bind-Value="@settings.GeneratePrimitivePropertiesAsNullableForOpenApi20" For="@(() => settings.GeneratePrimitivePropertiesAsNullableForOpenApi20)"></CheckField>
    </CardBody>
    <CardBody>
        <b>Interface</b>
        <Divider />
        <SelectEnumField @bind-Value="@settings.MethodReturnType" For="@(() => settings.MethodReturnType)"></SelectEnumField>
        <CheckField @bind-Value="@settings.AppendAsync" For="@(() => settings.AppendAsync)"></CheckField>
        <SelectEnumField @bind-Value="@settings.MultipartFormDataFileType" For="@(() => settings.MultipartFormDataFileType)"></SelectEnumField>
        <SelectEnumField @bind-Value="@settings.ApplicationOctetStreamType" For="@(() => settings.ApplicationOctetStreamType)"></SelectEnumField>
        <CheckField @bind-Value="@settings.GenerateMultipartFormDataExtensionMethods" For="@(() => settings.GenerateMultipartFormDataExtensionMethods)"></CheckField>
        <CheckField @bind-Value="@settings.GenerateApplicationOctetStreamExtensionMethods" For="@(() => settings.GenerateApplicationOctetStreamExtensionMethods)"></CheckField>
        <CheckField @bind-Value="@settings.GenerateFormUrlEncodedExtensionMethods" For="@(() => settings.GenerateFormUrlEncodedExtensionMethods)"></CheckField>
        <CheckField @bind-Value="@settings.ReturnObjectFromMethodWhenResponseIsDefinedButNoModelIsSpecified" For="@(() => settings.ReturnObjectFromMethodWhenResponseIsDefinedButNoModelIsSpecified)"></CheckField>
        <SelectEnumField @bind-Value="@settings.PreferredContentType" For="@(() => settings.PreferredContentType)"></SelectEnumField>
        <CheckField @bind-Value="@settings.ForceContentTypeToApplicationJson" For="@(() => settings.ForceContentTypeToApplicationJson)"></CheckField>
        <CheckField @bind-Value="@settings.UseOperationIdAsMethodName" For="@(() => settings.UseOperationIdAsMethodName)"></CheckField>
        <SelectEnumField @bind-Value="@settings.PreferredSecurityDefinitionType" For="@(() => settings.PreferredSecurityDefinitionType)"></SelectEnumField>
        <CheckField @bind-Value="@settings.MakeNonRequiredParametersOptional" For="@(() => settings.MakeNonRequiredParametersOptional)"></CheckField>
        <CheckField @bind-Value="@settings.DefineAllMethodHeadersOnInterface" For="@(() => settings.DefineAllMethodHeadersOnInterface)"></CheckField>
        <CheckField @bind-Value="@settings.DefineSharedMethodQueryParametersOnInterface" For="@(() => settings.DefineSharedMethodQueryParametersOnInterface)"></CheckField>
        <CheckField @bind-Value="@settings.GenerateAndUseModelForAnyOfOrOneOf" For="@(() => settings.GenerateAndUseModelForAnyOfOrOneOf)"></CheckField>
        <SelectEnumField @bind-Value="@settings.PreferredMultipleResponsesType" For="@(() => settings.PreferredMultipleResponsesType)"></SelectEnumField>
    </CardBody>
    <CardBody>
        <b>Generate</b>
        <Divider />
        <Field Horizontal="true">
            <FieldBody ColumnSize="ColumnSize.Is3">
                <Tooltip Text="Generate the .cs class files and download as .zip">
                    <Button Size="Size.Small" Color="Color.Primary" Disabled="@(!uploadButtonEnabled)" Clicked="@GenerateAndDownloadFile">Generate and Download</Button>
                </Tooltip>
            </FieldBody>
            <FieldBody ColumnSize="ColumnSize.Is9">
                <MemoEdit Size="Size.ExtraSmall" Rows="10" ReadOnly="true" @bind-Text="@logMessages" />
            </FieldBody>
        </Field>
    </CardBody>
</Card>