@page "/"

@*<EditForm Model="Settings">*@
    <Row Margin="Margin.Is1">
        <Column>
            <Card Margin="Margin.Is4.OnY">
                <CardHeader>
                    <CardTitle>Generator Settings</CardTitle>
                </CardHeader>
                <CardBody>
                    <CardText>a nice txt...</CardText>
                </CardBody>
                <CardBody>
                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is1">Input file</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is4">
                            <FileEdit Changed="@InputFileChanged" Multiple="false" />
                        </FieldBody>
                    </Field>

                    <SettingsField Value="@Settings.SingleFile" For="@(() => Settings.SingleFile)"></SettingsField>

                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is1">@nameof(Settings.SingleFile)</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <Check TValue="bool" @bind-Checked="@Settings.SingleFile"></Check>
                        </FieldBody>
                    </Field>

                    <Field Horizontal="true">
                        <FieldLabel ColumnSize="ColumnSize.Is1">@nameof(Settings.Namespace)</FieldLabel>
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <Tooltip Text="Hello tooltip">
                                <TextEdit @bind-Text="@Settings.Namespace" />
                            </Tooltip>
                        </FieldBody>
                    </Field>

                    <Field Horizontal="true">
                        <FieldBody ColumnSize="ColumnSize.Is10">
                            <Button Color="Color.Primary" Disabled="@(!_uploadComplete)" Clicked=@GenerateAndDownloadFile>Generate and Download</Button>
                        </FieldBody>
                    </Field>
                </CardBody>
            </Card>
        </Column>
    </Row>
@*</EditForm>*@