@inherits BaseField<List<DictionaryItem>>

<Field Horizontal="true">
    <FieldLabel ColumnSize="ColumnSize.Is3">@Label</FieldLabel>

    <FieldBody ColumnSize="ColumnSize.Is4">
        <Row>
            <Column>
                <Label>Key</Label>
            </Column>
            <Column>
                <Label>Value</Label>
            </Column>
            <Column>
            </Column>
        </Row>

        @if (Value.Count > 0)
        {
            @foreach (var x in Value)
            {
                <Row>
                    <Column>
                        <TextEdit Size="Size.Small" @bind-Text="x.Key" />
                    </Column>

                    <Column>
                        <TextEdit Size="Size.Small" @bind-Text="@x.Value" />
                    </Column>
                    <Column>
                        <Button Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@Add"><Icon Name="IconName.Add" /></Button>
                        <Button Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="() => Remove(x.Id)"><Icon Name="IconName.Remove" /></Button>
                    </Column>
                </Row>
            }
        }
        else
        {
            <Row>
                <Column></Column>
                <Column></Column>
                <Column>
                    <Button Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@Add"><Icon Name="IconName.Add" /></Button>
                </Column>
            </Row>
        }

        <FieldHelp>@Tooltip</FieldHelp>

    </FieldBody>

</Field>